<section class="container-fluid">
	<section class="row justify-content-center align-self-center">
		<section class="col-12 col-sm-6 col-md-4">
			<section class="pnf-container">
				<div class="row">
					<div class="col-md-6 text-center">
						<img src="assets/image/image_asset/Developer.png">
					</div>
					<div class="col-md-6">
						<div class="text-error text-center">
							ERROR<br/> 404
						</div>
						<p>Chúng tôi không thể tìm thấy trang bạn yêu cầu! <br> Xin hãy <a routerLink='/'>bấm vào đây</a> để quay lại trang chủ.</p>
					</div>
				</div>
			</section>
		</section>
	</section>	
</section>
