<app-sidebar></app-sidebar>
<div class="container-fluid content-page">
	<div class="row align-self-center">
		<div class="col-6">
			<span class="title-page">TRANG CHỦ</span>
		</div>
		<div class="col-6">
			<button class="btn btn-light float-right search-button"><i class="fas fa-search"></i></button>
			<input type="text" class="form-control float-right search-input" placeholder="Nhập mã đề">
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="info-box float-left">
				<div class="row h-100">
					<div class="col-6 align-self-center">
						<img src="assets/image/image_asset/user.png" alt="">
					</div>
					<div class="col-6 align-self-center">
						<h4 class="user_info">THÔNG TIN NGƯỜI DÙNG</h4>
						<h5 class="user_info">Tên: {{this.thisUser.Last_name + ' ' + this.thisUser.First_name}}</h5>
						<h5 class="user_info">Giới tính: {{this.thisUser.Gender}}</h5>
						<h5 class="user_info">Tuổi: {{this.thisUser.Age}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="info-box float-right">
				<dl class="align-self-center">
				  <dt class="text-center">
				    Các thang điểm
				  </dt>
				  <dd class="percentage percentage-11"><span class="text">80-100 (11%)</span></dd>
				  <dd class="percentage percentage-80"><span class="text">70-90 (80%)</span></dd>
				  <dd class="percentage percentage-16"><span class="text">60-80 (16%)</span></dd>
				  <dd class="percentage percentage-5"><span class="text">50-70 (5%)</span></dd>
				  <dd class="percentage percentage-2"><span class="text">40-60 (2%)</span></dd>
				  <dd class="percentage percentage-2"><span class="text">30-50 (2%)</span></dd>
				</dl>				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<!-- LIST OF TEST -->
			<div class="table-info">
				<table>
					<thead>
						<tr>
							<th>USER</th>
							<th>MÃ ĐỀ</th>
							<th>TÊN BÀI TEST</th>
							<th>NGÀY TRẢ LỜI</th>
							<th>SỐ ĐIỂM</th>
							<th>HÀNH ĐỘNG</th>
						</tr>
					</thead>
					<tbody>
						<!-- TEST DATA -->
						<tr *ngFor="let test of testList">
							<td class="align-self-center">
								<img src="assets/image/image_asset/user.png" alt="">
							</td>
							<td class="align-self-center text-left">
								<b>{{ test.test_code }}</b>
							</td>
							<td class="title align-self-center">
								<b>{{ test.title }}</b>
							</td>
							<td class="align-self-center">
								<b>{{ (test.isAnswer)? convertDate(test.dataAnswer.date_answer) : 'Chưa tham gia' }}</b>
							</td>
							<td class="align-self-center">
								<b>{{ (test.isAnswer)? test.dataAnswer.point : 'Chưa tham gia'}}</b>
							</td>
							<td class="align-self-center text-left">
								<input *ngIf="!(test.isAnswer)" data-toggle="modal" data-target="#answer-page" type="button" class="btn  btn-danger" value="Làm bài" (click)="startTest(test.test_code,test.title)" >
								<input *ngIf="test.isAnswer" data-toggle="modal" data-target="#answer-page" type="button" class="btn  btn-info" value="Làm lại" (click)="startTest(test.test_code,test.title)" >
							</td>
						</tr>
						<!-- END OF TEST DATA -->
					</tbody>
				</table>
			</div>
			<!-- END OF LIST OF TEST -->
			<!-- ANSWER VIEW -->
			<div class="modal fade" id="answer-page" tabindex="-1" role="dialog" aria-labelledby="Bài kiểm tra" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">Bài kiểm tra</h5>
			        <button type="button" class="close" data-dismiss="modal" (click)="reloadData()" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <h3 class="text-center">{{this.testTitle}}</h3>
			        <h5 class="text-center">Mã đề: {{this.testCode}}</h5>
			        <!-- <p class="text-center timmming">Thời gian đã sử dụng: </p> -->
			        <div class="question-hold" *ngFor="let question of testQuestion; index as i" [hidden] = "this.countQuestion != i">
			        	<b>Câu {{ i + 1 }}: {{question.title}}</b>
			        	<p><input type="radio" value="a" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_A}}</p>
			        	<p><input type="radio" value="b" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_B}}</p>
			        	<p><input type="radio" value="c" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_C}}</p>
			        	<p><input type="radio" value="d" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_D}}</p>
			        </div>
			        <div *ngIf="showResult" class="result-page text-center">
			        	<h4>KẾT QUẢ:</h4>
			        	<p>{{ this.correctAnswer + '/' + testQuestion.length }} Câu</p>
						<h5>Tổng điểm</h5>
						<p>{{ this.finalPoint }}</p>
			        </div>
			        <div class="text-center question-number">
			        	<input *ngFor="let question of testQuestion; index as i" type="button" class="btn btn-primary" [ngClass]='{"button-qs-classic": this.countQuestion != i, "button-qs-active": this.countQuestion == i}' value="{{ i + 1 }}" disabled>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- END OF ANSWER VIEW -->
		</div>
	</div>
</div>
