<app-sidebar></app-sidebar>
<div class="container-fluid content-page">
	<div class="row">
		<div class="col-6 align-self-center">
			<span class="title-page">LỊCH SỬ HÀNH ĐỘNG</span>
		</div>
		<div class="col-6 align-self-center">
			 <h5 class="float-right"><a routerLink='/dashboard'>Trang chủ</a> > <a routerLink='/history'>Lịch sử hành động</a></h5>
		</div>
	</div>
	<!-- TEST USER CREATE -->
	<h4>BÀI TEST ĐÃ TẠO</h4>
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="page-info">
				
				<!-- LIST OF TEST -->
				<div class="table-info">
					<table>
						<thead>
							<tr>
								<th>USER</th>
								<th>MÃ ĐỀ</th>
								<th>TÊN BÀI TEST</th>
								<th>NGÀY TRẢ LỜI</th>
								<th>SỐ CÂU HỎI</th>
								<th>HÀNH ĐỘNG</th>
							</tr>
						</thead>
						<tbody>
							<!-- TEST DATA -->
							<tr>
								<td class="align-self-center">
									<img src="assets/image/image_asset/user.png" alt="">
								</td>
								<td class="align-self-center text-left">
									<b>TU0116012020	</b>
								</td>
								<td class="align-self-center">
									<b>{{"DE KIEM TRA TOAN TUY..."}}</b>
								</td>
								<td class="align-self-center">
									<b>20/01/2020</b>
								</td>
								<td class="align-self-center">
									<b>10</b>
								</td>
								<td class="align-self-center text-left">
									<input  data-toggle="modal" data-target="#answer-page" type="button" class="btn btn-danger" value="Xoá bài">
								</td>
							</tr>
							<tr class="line-height"></tr>
							<!-- END OF TEST DATA -->
						</tbody>
					</table>
				</div>
				<!-- END OF LIST OF TEST -->
			</div>
		</div>
	</div>
	<!-- END OF TEST USER CREATE -->
	<!-- LIST OF TEST -->
	<h4>BÀI TEST ĐÃ LÀM</h4>
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="page-info">
				
				<!-- LIST OF TEST -->
				<div class="table-info">
					<table>
						<thead>
							<tr>
								<th>USER</th>
								<th>MÃ ĐỀ</th>
								<th>TÊN BÀI TEST</th>
								<th>NGÀY TRẢ LỜI</th>
								<th>SỐ ĐIỂM</th>
								<th>HÀNH ĐỘNG</th>
							</tr>
						</thead>
						<tbody>
							<!-- TEST DATA -->
							<tr>
								<td class="align-self-center">
									<img src="assets/image/image_asset/user.png" alt="">
								</td>
								<td class="align-self-center text-left">
									<b>TU0116012020	</b>
								</td>
								<td class="align-self-center">
									<b>{{"DE KIEM TRA TOAN TUY..."}}</b>
								</td>
								<td class="align-self-center">
									<b>20/01/2020</b>
								</td>
								<td class="align-self-center">
									<b>86</b>
								</td>
								<td class="align-self-center text-left">
									<input  data-toggle="modal" data-target="#answer-page" type="button" class="btn btn-danger" value="Xoá bài">
								</td>
							</tr>
							<tr class="line-height"></tr>
							<!-- END OF TEST DATA -->
						</tbody>
					</table>
				</div>
				<!-- END OF LIST OF TEST -->
			</div>
		</div>
	</div>
	<!-- END OF LIST OF TEST -->
</div>
