<app-sidebar></app-sidebar>
<div class="container-fluid content-page">
	<div class="row">
		<div class="col-6 align-self-center">
			<span class="title-page">LỊCH SỬ HÀNH ĐỘNG</span>
		</div>
		<div class="col-6 align-self-center">
			 <h5 class="float-right"><a routerLink='/dashboard'>Trang chủ</a> > <a routerLink='/history'>Lịch sử hành động</a></h5>
		</div>
	</div>
	<!-- TEST USER CREATE -->
	<h4>BÀI TEST ĐÃ TẠO</h4>
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="page-info">
				
				<!-- LIST OF TEST -->
				<div class="table-info">
					<table>
						<thead>
							<tr>
								<th>USER</th>
								<th>MÃ ĐỀ</th>
								<th>TÊN BÀI TEST</th>
								<th>NGÀY TẠO</th>
								<th>SỐ CÂU HỎI</th>
								<th>HÀNH ĐỘNG</th>
							</tr>
						</thead>
						<tbody>
							<!-- TEST DATA -->
							<tr *ngFor="let test of testListUser; index as i" >
								<td class="align-self-center">
									<img src="assets/image/image_asset/user.png" alt="">
								</td>
								<td class="align-self-center text-left">
									<b>{{ test.test_code }}</b>
								</td>
								<td class="align-self-center">
									<b>{{ test.title }}</b>
								</td>
								<td class="align-self-center">
									<b>{{ convertDate(test.date_create) }}</b>
								</td>
								<td class="align-self-center">
									<b>null</b>
								</td>
								<td class="align-self-center text-left">
									<!-- <input  data-toggle="modal" data-target="#answer-page" type="button" class="btn btn-danger" value=""> -->
								</td>
							</tr>
							<tr class="line-height"></tr>
							<!-- END OF TEST DATA -->
						</tbody>
					</table>
				</div>
				<!-- END OF LIST OF TEST -->
			</div>
		</div>
	</div>
	<!-- END OF TEST USER CREATE -->
	<!-- LIST OF TEST -->
	<h4>BÀI TEST ĐÃ LÀM</h4>
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="page-info">
				
				<!-- LIST OF TEST -->
				<div class="table-info">
					<table>
						<thead>
							<tr>
								<th>USER</th>
								<th>MÃ ĐỀ</th>
								<th>TÊN BÀI TEST</th>
								<th>NGÀY TRẢ LỜI</th>
								<th>SỐ ĐIỂM</th>
								<th>HÀNH ĐỘNG</th>
							</tr>
						</thead>
						<tbody>
							<!-- TEST DATA -->
							<tr *ngFor="let test of testListDone">
								<td class="align-self-center">
									<img src="assets/image/image_asset/user.png" alt="">
								</td>
								<td class="align-self-center text-left">
									<b>{{ test.test_code }}</b>
								</td>
								<td class="align-self-center">
									<b>{{ test.title }}</b>
								</td>
								<td class="align-self-center">
									<b>{{ convertDate(test.date_answer) }}</b>
								</td>
								<td class="align-self-center">
									<b>{{ test.point }}</b>
								</td>
								<td class="align-self-center text-left">
									<input data-toggle="modal" data-target="#answer-page" type="button" class="btn  btn-info" value="Làm lại" (click)="startTest(test.test_code,test.title)" >
								</td>
							</tr>
							<tr class="line-height"></tr>
							<!-- END OF TEST DATA -->
						</tbody>
					</table>
				</div>
				<!-- END OF LIST OF TEST -->
			<!-- ANSWER VIEW -->
			<div class="modal fade" id="answer-page" tabindex="-1" role="dialog" aria-labelledby="Bài kiểm tra" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">Bài kiểm tra</h5>
			        <button type="button" class="close" data-dismiss="modal" (click)="reloadData()" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <h3 class="text-center">{{this.testTitle}}</h3>
			        <h5 class="text-center">Mã đề: {{this.testCode}}</h5>
			        <!-- <p class="text-center timmming">Thời gian đã sử dụng: </p> -->
			        <div class="question-hold" *ngFor="let question of testQuestion; index as i" [hidden] = "this.countQuestion != i">
			        	<b>Câu {{ i + 1 }}: {{question.title}}</b>
			        	<p><input type="radio" value="a" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_A}}</p>
			        	<p><input type="radio" value="b" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_B}}</p>
			        	<p><input type="radio" value="c" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_C}}</p>
			        	<p><input type="radio" value="d" (click) = "userAnswer(testQuestion.length,question.answer_true,$event)" name="question_{{ i + 1 }}">&nbsp; {{question.answer_D}}</p>
			        </div>
			        <div *ngIf="showResult" class="result-page text-center">
			        	<h4>KẾT QUẢ:</h4>
			        	<p>{{ this.correctAnswer + '/' + testQuestion.length }} Câu</p>
						<h5>Tổng điểm</h5>
						<p>{{ this.finalPoint }}</p>
			        </div>
			        <div class="text-center question-number">
			        	<input *ngFor="let question of testQuestion; index as i" type="button" class="btn btn-primary" [ngClass]='{"button-qs-classic": this.countQuestion != i, "button-qs-active": this.countQuestion == i}' value="{{ i + 1 }}" disabled>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- END OF ANSWER VIEW -->
			</div>
		</div>
	</div>
	<!-- END OF LIST OF TEST -->
</div>
